/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2015, 11:57:45 AM
    Author     : jeira
*/

/*---footer-----------*/

#footer{margin-top: -86px;z-index: 90001;}

#top_footer{background: url('../assets/footer/bg.png') repeat-x left top; height: 77px; z-index: 90000;
}

#top_footer ul{width: 100%; list-style-type: none;}

#top_footer ul li{
    width: 25%;
    /*display: inline;*/
    float: left;
    font-family: 'CenturyGothicRegular';
}

#top_footer ul li p{
    margin-top: 90px;
    padding-left: 69px;
    font-size: 12px;
    color: #666666;
    font-family: Helvetica, Arial, sans-serif;
}

#top_footer ul li span{
    float: left;
    color: #fff;
    padding: 48px 0 0 10px;
    font-size: 13px;
}

#top_footer ul li .footer-2-lines{
    float: left;
    color: #fff;
    padding: 31px 0 0 10px;
}

#top_footer ul li img{float: left;}

.footer_bottom{width: 100%; list-style-type: none;}

.footer_bottom li{
    width: 25%;
    display: inline;
    float: left;
    padding: 0px 12px 0 70px;
    margin-top: -24px;
    font-size: 13px;
    color: #666666;
}

.bottom_footer{
    width: 100%;
    text-align: left;
    float: left;
    margin-top: 30px;
    font-size: 11px;
    color: #AAAAAA;
    padding: 0 10px;
}

.bottom_footer a{color: #777;}

#top_footer .selected{
    margin-top: 36px;
    padding: 12px 5px 11px;
}

/*-------- Rotate Slide ---------*/